@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$font: 'Montserrat', sans-serif;

@mixin flex-variables($direction,$justify){
    display: flex;
    flex-direction: $direction;
    justify-content:$justify;
}

.MainContainer{
    position: relative;
    top:9vh;
    background-color:#F5F6FA;
    height:80vh;
    width:100vw;

}

.MainContainer h1{
    position: relative;
    top:5%;
    left:-16%;
    font-size:.87rem;
    text-transform:uppercase;
    font-family:$font ;
}

.Units{
    position: relative;
width:50%;
top:15%;
height:30%;
left: 17%;
@include flex-variables(row,space-around );
align-items: center;
}



.imgoff{
    position:relative;
    height:45px;
    width:35px;
    top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    transition: 1s;
}


// .imgoff:hover{
//     height:80px;
//     border: 3px solid ;
//     width:50px;
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-top:10px;
//     padding-bottom:10px;
//     transition: 1s;
//     background-color: rgb(202, 201, 201);
// }

.unit-caption{
    font:$font;
    position:relative;
    color:rgba(85, 85, 85, 0.349);
    text-align:center;
    top:15%;
    font-weight: bold;
}

.unit-box {
    width: 110px;
    box-shadow: 1px 1px 2px 2px #9b9999;
    align-items: center;
    position: relative;
    width:170px;
    left: 21%;
    height:80%;
    color:rgb(197, 197, 197);

    top:-30%;
    border-radius: 3px;;
    transition: 1s
}

.unit.box:hover{
    transition:3s
}